<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.redos.blog.dao.CodeMapper">
    <resultMap id="codeMap" type="code">
        <id property="id" column="id" />
        <result property="name" column="code_name"/>
        <result property="field" column="code_field"/>
        <result property="value" column="code_value"/>
        <result property="type" column="type"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <insert id="addCode" parameterType="code" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(),'-','') as id
        </selectKey>
        INSERT INTO redos_code (id,code_name,code_field,code_value,type)
        values(#{id},#{name},#{field},#{value},
        #{type, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>
</mapper>